Repository ktorio/ktor, pull requests merged in 2020-10, with the labels that each got.

#2119 KTOR-1139 Fix CertificatePinner buildErrorMessage outputs CertificatesInfo reference
  ktor-client/ktor-client-ios/darwin/src/io/ktor/client/engine/ios/certificates/CertificatePinner.kt
Labels: Client, bug

#2125 Fixed incorrect placement of setMaxConnPerRoute and setMaxConnTotal ApacheEngine
  ktor-client/ktor-client-apache/jvm/src/io/ktor/client/engine/apache/ApacheEngine.kt
Labels: Client

#2036 Jackson: Do not convert to String before converting to JSON
  ktor-features/ktor-jackson/jvm/src/io/ktor/jackson/JacksonConverter.kt
  ktor-features/ktor-jackson/jvm/test/io/ktor/tests/jackson/JacksonTest.kt
Labels: Server

#2159 Fix illegal expires header behaviour
  ktor-client/ktor-client-core/common/src/io/ktor/client/features/cache/HttpCacheEntry.kt
  ktor-client/ktor-client-core/common/test/CacheExpiresTest.kt
  ktor-client/ktor-client-tests/common/test/io/ktor/client/tests/features/CacheTest.kt
  ktor-client/ktor-client-tests/jvm/src/io/ktor/client/tests/utils/tests/Cache.kt
Labels: Client

#1880 Add excludeSuffix()
  ktor-server/ktor-server-core/api/ktor-server-core.api
  ktor-server/ktor-server-core/jvm/src/io/ktor/features/HttpsRedirect.kt
  ktor-server/ktor-server-tests/jvm/test/io/ktor/tests/server/features/HttpsRedirectFeatureTest.kt
Labels: Server, enhancement

#2167 KTOR-1214 Update kotlinx.serialization to 1.0.1
  gradle.properties
  ktor-client/ktor-client-features/ktor-client-json/ktor-client-serialization/common/src/io/ktor/client/features/json/serializer/KotlinxSerializer.kt
  ktor-client/ktor-client-features/ktor-client-json/ktor-client-serialization/js/src/SerializerInitializer.kt
  ktor-client/ktor-client-features/ktor-client-json/ktor-client-serialization/posix/src/SerializerInitializer.kt
  ktor-features/ktor-serialization/jvm/src/io/ktor/serialization/JsonSupport.kt
  ktor-features/ktor-serialization/jvm/src/io/ktor/serialization/SerializerLookup.kt
Labels: Client, Server, dependencies
