Repository ktorio/ktor, pull requests merged in 2020-12, with the labels that each got.

#2226 KTOR-348 Fix testErrorInWritingPropagates
  ktor-client/ktor-client-java/jvm/src/io/ktor/client/engine/java/JavaHttpRequestBodyPublisher.kt
  ktor-client/ktor-client-java/jvm/test/io/ktor/client/engine/java/RequestTests.kt
Labels: bug

#2250 KTOR-1329 Add warning annotation for HTTP/2 push
  ktor-server/ktor-server-core/api/ktor-server-core.api
  ktor-server/ktor-server-core/jvm/src/io/ktor/http/Push.kt
  ktor-server/ktor-server-core/jvm/src/io/ktor/response/ApplicationResponse.kt
  ktor-server/ktor-server-core/jvm/src/io/ktor/response/DefaultResponsePushBuilder.kt
  ktor-server/ktor-server-core/jvm/src/io/ktor/response/ResponsePushBuilder.kt
  ktor-server/ktor-server-core/jvm/src/io/ktor/response/UseHttp2Push.kt
  ktor-server/ktor-server-host-common/jvm/src/io/ktor/server/engine/BaseApplicationResponse.kt
  ktor-server/ktor-server-jetty/jvm/src/io/ktor/server/jetty/JettyApplicationResponse.kt
  ktor-server/ktor-server-netty/jvm/src/io/ktor/server/netty/http2/NettyHttp2ApplicationResponse.kt
  ktor-server/ktor-server-netty/jvm/src/io/ktor/server/netty/http2/NettyHttp2Handler.kt
  ktor-server/ktor-server-servlet/jvm/src/io/ktor/server/servlet/AsyncServlet.kt
  ktor-server/ktor-server-servlet/jvm/src/io/ktor/server/servlet/v4/Push.kt
Labels: Server

#2210 KTOR-1312 Add config flag to MicrometerMetrics to log all 404 request with n/a route
  ktor-features/ktor-metrics-micrometer/api/ktor-metrics-micrometer.api
  ktor-features/ktor-metrics-micrometer/jvm/src/io/ktor/metrics/micrometer/MicrometerMetrics.kt
  ktor-features/ktor-metrics-micrometer/jvm/test/io/ktor/metrics/micrometer/MicrometerMetricsTests.kt
Labels: Server

#2253 KTOR-368 Introduce Netty tcpKeepAlive flag
  ktor-server/ktor-server-netty/api/ktor-server-netty.api
  ktor-server/ktor-server-netty/jvm/src/io/ktor/server/netty/NettyApplicationEngine.kt
  ktor-server/ktor-server-netty/jvm/test/io/ktor/tests/server/netty/NettyEngineTest.kt
Labels: Server

#2252 KTOR-878 Strengthen session ID generation
  ktor-server/ktor-server-core/api/ktor-server-core.api
  ktor-server/ktor-server-core/jvm/src/io/ktor/sessions/SessionIdProvider.kt
  ktor-server/ktor-server-core/jvm/src/io/ktor/sessions/SessionsBuilder.kt
Labels: Server

#2256 KTOR-1458 Add tunneling functionality to CIO
  ktor-client/ktor-client-android/jvm/test/io/ktor/client/engine/android/CommonTests.kt
  ktor-client/ktor-client-apache/jvm/test/io/ktor/client/engine/apache/CommonTests.kt
  ktor-client/ktor-client-cio/common/src/io/ktor/client/engine/cio/CIOEngine.kt
  ktor-client/ktor-client-cio/common/src/io/ktor/client/engine/cio/ConnectionPipelineCommon.kt
  ktor-client/ktor-client-cio/common/src/io/ktor/client/engine/cio/Endpoint.kt
  ktor-client/ktor-client-cio/common/src/io/ktor/client/engine/cio/utils.kt
  ktor-client/ktor-client-cio/jvm/src/io/ktor/client/engine/cio/ConnectionPipeline.kt
  ktor-client/ktor-client-cio/jvm/test/io/ktor/client/engine/cio/CommonTests.kt
  ktor-client/ktor-client-cio/posix/src/io/ktor/client/engine/cio/ConnectionPipelineNative.kt
  ktor-client/ktor-client-java/jvm/test/io/ktor/client/engine/java/CommonTests.kt
  ktor-client/ktor-client-okhttp/jvm/test/io/ktor/client/engine/okhttp/CommonTests.kt
  ktor-client/ktor-client-tests/jvm/src/io/ktor/client/tests/SslOverProxyTest.kt
  ktor-client/ktor-client-tests/jvm/src/io/ktor/client/tests/utils/tests/Proxy.kt
  ktor-network/api/ktor-network.api
  ktor-network/common/src/io/ktor/network/sockets/Sockets.kt
  ktor-network/ktor-network-tls/api/ktor-network-tls.api
  ktor-network/ktor-network-tls/common/src/io/ktor/network/tls/TLSCommon.kt
Labels: Client

#2266 Fix typo in kdoc
  ktor-server/ktor-server-core/jvm/src/io/ktor/sessions/SessionSerializerReflection.kt
Labels: documentation

#2263 KTOR-882 Rework user's solution
  ktor-server/ktor-server-core/api/ktor-server-core.api
  ktor-server/ktor-server-core/jvm/src/io/ktor/sessions/SessionTrackerById.kt
  ktor-server/ktor-server-tests/jvm/test/io/ktor/tests/server/sessions/SessionTest.kt
Labels: Server

#2270 KTOR-1552 Mark _response transient in ResponseException
  ktor-client/ktor-client-core/common/src/io/ktor/client/features/DefaultResponseValidation.kt
  ktor-client/ktor-client-core/jvm/test/ExceptionsTest.kt
Labels: Client

#2271 KTOR-1220 Fix terminating curl processor worker on close
  ktor-client/ktor-client-curl/posix/src/io/ktor/client/engine/curl/CurlProcessor.kt
Labels: Client, bug

#2274 KTOR-1572 Fix flaky ClassCastExceptionTest
  ktor-server/ktor-server-cio/jvm/test/io/ktor/tests/server/cio/ClassCastExceptionTest.kt
Labels: Housekeeping, Server

#2273 KTOR-1567 Fix freezing Java client
  ktor-client/ktor-client-java/jvm/src/io/ktor/client/engine/java/JavaHttpResponseBodyHandler.kt
Labels: Client, bug

#2276 KTOR-1582 Improve flaky test and provide more debug info
  ktor-server/ktor-server-tests/jvm/test/io/ktor/tests/server/features/CallLoggingTest.kt
Labels: Housekeeping

#2279 KTOR-1584 Increase test server delay to fix missing timeouts
  ktor-client/ktor-client-tests/jvm/src/io/ktor/client/tests/utils/tests/Timeout.kt
Labels: Client

#2282 KTOR-1598 Fix receving client channel with Logging feature
  ktor-client/ktor-client-core/common/src/io/ktor/client/features/DefaultTransform.kt
  ktor-client/ktor-client-tests/common/test/io/ktor/client/tests/LoggingTests.kt
Labels: Client, bug
