Repository ktorio/ktor, pull requests merged in 2021-02, with the labels that each got.

#1352 Add an option to disable URL Encoding
  ktor-http/api/ktor-http.api
  ktor-http/common/src/io/ktor/http/HttpUrlEncoded.kt
  ktor-http/common/src/io/ktor/http/Parameters.kt
  ktor-http/common/test/io/ktor/tests/http/ParametersBuilderTest.kt
Labels: design

#2340 KTOR-2007 Fix running custom response validation without default one
  ktor-client/ktor-client-core/common/src/io/ktor/client/HttpClientConfig.kt
  ktor-client/ktor-client-core/common/src/io/ktor/client/features/DefaultResponseValidation.kt
  ktor-client/ktor-client-core/common/src/io/ktor/client/features/HttpCallValidator.kt
  ktor-client/ktor-client-tests/common/test/io/ktor/client/tests/CallValidatorTest.kt
Labels: bug

#2345 KTOR-1801 Fix Netty IllegalReferenceCountException
  ktor-server/ktor-server-netty/jvm/src/io/ktor/server/netty/NettyApplicationCall.kt
Labels: Server, bug

#2346 Fix CIO connectors startup
  ktor-server/ktor-server-cio/jvm/src/io/ktor/server/cio/CIOApplicationEngine.kt
  ktor-server/ktor-server-cio/jvm/test/io/ktor/tests/server/cio/TestConnectorInterfaceUsed.kt
Labels: Server, bug

#2349 KTOR-2054 Fix routing with non optional trailing path parameter
  ktor-server/ktor-server-core/jvm/src/io/ktor/routing/RouteSelector.kt
  ktor-server/ktor-server-core/jvm/test/io/ktor/tests/routing/RouteSelectorTest.kt
  ktor-server/ktor-server-tests/jvm/test/io/ktor/tests/server/routing/RoutingResolveTest.kt
Labels: routing

#2323 KTOR-2210 Make base name of micrometer metrics configurable
  ktor-features/ktor-metrics-micrometer/api/ktor-metrics-micrometer.api
  ktor-features/ktor-metrics-micrometer/jvm/src/io/ktor/metrics/micrometer/MicrometerMetrics.kt
  ktor-features/ktor-metrics-micrometer/jvm/test/io/ktor/metrics/micrometer/MicrometerMetricsTests.kt
Labels: ux
